<launch>
  <arg name="namespace" default="ben"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="enableBridge" default="true"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>
  <param name="/use_sim_time" type="bool" value="true"/>
  
  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="true"/>
    <arg name="namespace" value="$(arg operator_namespace)"/>
    <arg name="robotNamespace" value="$(arg namespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>
    
  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" value="$(arg operator_namespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
  </include>

  <rosparam command="load" file="$(find ben_project11)/config/ben_operator.yaml" ns="$(arg operator_namespace)"/>
  <rosparam command="load" file="$(find project11_simulation)/config/sim_operator.yaml" ns="$(arg operator_namespace)"/>
    
</launch>
