<launch>
  <arg name="namespace" default="ben"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="robot_host" default="localhost"/>
  <arg name="enableBridge" default="true"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>
  <arg name="use_sim_time" default="false"/>

  <param if="$(arg use_sim_time)" name="/use_sim_time" type="bool" value="true"/>

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="true"/>
    <arg name="namespace" value="$(arg operator_namespace)"/>
    <arg name="robotNamespace" value="$(arg namespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>
    
  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" value="$(arg operator_namespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
  </include>

  <group if="$(arg enableBridge)" ns="$(operator_namespace)/udp_bridge">
    <param name="port" value="4201"/>
    <param name="remotes/robot/connections/default/host" value="$(arg robot_host)"/>
  </group>

</launch>
