<launch>
  <arg name="namespace" default="ben"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="operator_host" default="localhost"/>
  <arg name="enableBridge" default="true"/>
  <arg name="sim_traffic" default="false"/>
  <arg name="use_sim_time" default="true"/>

  <param if="$(arg use_sim_time)" name="/use_sim_time" type="bool" value="true"/>

  <include file="$(find ben_project11)/launch/ben_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>

  <rosparam if="$(arg enableBridge)" param="udp_bridge/remotes/operator/connections/default/topics/clock" ns="$(arg namespace)">{source: /clock}</rosparam>
    
  <node pkg="asv_helm" type="asv_helm_node" name="asv_helm" ns="$(arg namespace)">
    <remap from="helm" to="project11/control/helm"/>
    <remap from="cmd_vel" to="project11/control/cmd_vel"/>
    <remap from="odom" to="project11/odom"/>
    <remap from="throttle" to="control/throttle"/>
    <remap from="rudder" to="control/rudder"/>
    <remap from="have_commands" to="/asv_sim/ben/have_commands"/>
  </node>
  
  <node pkg="asv_sim" type="asv_sim_node.py" name="asv_sim">
    <remap from="/$(arg namespace)/position" to="/$(arg namespace)/sensors/nav/position"/>
    <remap from="/$(arg namespace)/orientation" to="/$(arg namespace)/sensors/nav/orientation"/>
    <remap from="/$(arg namespace)/velocity" to="/$(arg namespace)/sensors/nav/velocity"/>
    <remap from="/$(arg namespace)/throttle" to="/$(arg namespace)/control/throttle"/>
    <remap from="/$(arg namespace)/rudder" to="/$(arg namespace)/control/rudder"/>

    <rosparam file="$(find asv_sim)/config/cw4.yaml"/>
    <rosparam file="$(find asv_sim)/config/ben.yaml"/>
  </node>

  <node if="$(arg sim_traffic)" pkg="traffic_sim" type="traffic_sim_node.py" name="traffic_sim" ns="$(arg namespace)"/>

  <rosparam command="load" file="$(find ben_project11)/config/ben_sim.yaml" ns="$(arg namespace)"/>
  
  <param name="/$(arg namespace)/udp_bridge/remotes/operator/connections/default/host" value="$(arg operator_host)"/>

</launch>
